<html>
  <head>
    <title>Greeter</title>
    <style type="text/css" media="screen">
      body {
        background-color: #487399;
        font-family: Verdana;
        font-size: 14px;
      }
      #container {
        width: 75%;
        margin: 0 auto;
        background-color: #FFF;
        padding: 20px 40px;
        border: solid 1px black;
        margin-top: 20px;
      }
      a {color: #0000FF;}
    </style>
  </head>
  <body>
    <div id="container">
      <h1>Hello World!</h1>
      <form method="post" action="/change">    
        <input name="name" type="text">
        <input type="submit" value="Change Name">
      </form>
    </div>
  </body>
</html>
